{% extends "app_main/_base.html" %}


{% block title %}Главная страница{% endblock %}

{% block body %}
<header>
        <h1>Supportify.Backlog</h1>
        <p>Простой шаблон для начала работы</p>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'app_next:login' %}">Войти</a></li>
            <li><a href="/colours/">Цвета</a></li>
            <li><a href="/settings/">Настройки</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Добро пожаловать!</h2>
            <p>Это базовый HTML шаблон, который включает в себя все основные элементы веб-страницы.</p>
            <p>Вы можете использовать его как отправную точку для создания своего сайта.</p>
            <a href="/welcome_page/" class="button">Узнать больше</a>
        </section>

        <section>
            <h2>О нас</h2>
            <p>Здесь вы можете разместить информацию о себе или своей компании.</p>
            <p>Расскажите посетителям, чем вы занимаетесь и почему они должны выбрать именно вас.</p>
        </section>

        <section>
            <h2>Наши услуги</h2>
            <p>Опишите услуги или продукты, которые вы предлагаете.</p>
            <p>Не забудьте выделить преимущества и выгоды для ваших клиентов.</p>
        </section>
    </main>

    <footer>
        <p>© 2025 Базовый HTML шаблон. Все права защищены.</p>
    </footer>
{% endblock %}
