{% extends "app_main/_base.html" %}


{% block title %}Главная страница{% endblock %}

{% block body %}
<header>
        <h1>Supportify.Backlog</h1>
        <p>Экономьте часы работы: отправляйте сообщения, ссылки во все мессенджеры и социальные сети из одного окна.</p>
    </header>

    <nav>
        <ul>

            <li><a href="/colours/">Цвета</a></li>
            <li><a href="/settings/">Настройки</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <h2>Добро пожаловать!</h2>
            <a href="/welcome_page/" class="button">Узнать больше</a>
        </section>

        <section>
            <h2>О нас</h2>
            <p>Здесь вы можете разместить информацию о себе или своей компании.</p>
            <p>Расскажите посетителям, чем вы занимаетесь и почему они должны выбрать именно вас.</p>
        </section>

        <section>
            <h2>Наши услуги</h2>
            <p>Опишите услуги или продукты, которые вы предлагаете.</p>
            <p>Не забудьте выделить преимущества и выгоды для ваших клиентов.</p>
        </section>
    </main>

    <footer>
        <p>© 2025 Базовый HTML шаблон. Все права защищены.</p>
    </footer>
{% endblock %}
